<h1>Create event</h1>
<br/>
<div class="form-container">
  <form #createEvent="ngForm" (ngSubmit)="onSubmit(createEvent)">
    <div class = "v-errors" *ngIf="createEvent.invalid">
      <div class="v-error" *ngIf = "type.touched && type.invalid" >
        <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        Please choose a type
      </div>
      <div class="v-error" *ngIf = "facilitator.touched && facilitator.invalid">
        <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        Please choose a facilitator
      </div>
      <div class="v-error" *ngIf = "scheduledDate.touched && scheduledDate.invalid">
        <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        Please choose a scheduled date
      </div>
      <div class="v-error" *ngIf = "scheduledDate.touched && scheduledDate.errors?.isPast">
        <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        Scheduled date must be in the future
      </div>
      <div class="v-error" *ngIf = "location.touched && location.invalid">
        <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        Please choose a location
      </div>
    </div>

    <div class = "success-msg" *ngIf="successMsg">
      <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
      {{successMsg}}
    </div>
    
    <div class="settings">
      <span class="label">Type: </span>
      <select required class="field" name="type" #type="ngModel" ngModel
      [class.is-invalid]="type.invalid && type.touched">
        <option value="" disabled selected>Select the type</option>
        <option selected value="chess" >Chess</option>
        <option value="pingpong">Pingpong</option>
        <option value="swimming">Swimming</option>
        <option value="tennis">Tennis</option>
      </select>

      <span class="label">Facilitator: </span>
      <select required class="field" name="facilitator" #facilitator="ngModel" ngModel
      [class.is-invalid]="facilitator.invalid && facilitator.touched">
        <option value="" disabled selected>Select the facilitator</option>
        <option *ngFor="let facilitator of facilitators" value="{{facilitator}}" >{{facilitator}}</option>
      </select>
      <span class="label">Scheduled date: </span>
      <mat-form-field class = "field">
        <input required matInput type="datetime-local" name="scheduledDate" #scheduledDate="ngModel" isPastDate ngModel>
      </mat-form-field>

      <span class="label">Location: </span>
      <select required class="field" name="location" #location="ngModel" ngModel
      [class.is-invalid]="location.invalid && location.touched">
        <option value="" disabled selected>Select the location</option>
        <option selected value="Bucharest" >Bucuresti</option>
        <option value="Timisoara">Timisoara</option>
        <option value="Iasi">Iasi</option>
      </select>
      <span class="label">Is outdoors?: </span><input style="margin-left: 7px;" name="outdoors" type="checkbox" ngModel/>
    </div>
    <br/><br/>
    <button class="button participate" type="submit" [disabled]="createEvent.invalid">Create</button>
  </form>
</div>

