<h1>My events</h1>
<br/>
<h3>Future events</h3>
<br/>
<app-template-event *ngIf="futureEvents.length > 0" [events]="futureEvents" [isFuture]=true></app-template-event>
<h5 *ngIf="futureEvents.length === 0"><i>It's empty here</i></h5>
<br/>
<app-pagination *ngIf="futurePagesNr !== undefined" [lastPage]="futurePagesNr"></app-pagination>
<br/>
<h3>Past events</h3>
<br/>
<app-template-event *ngIf="pastEvents.length > 0" [events]="pastEvents" [isFuture]=false></app-template-event>
<h5 *ngIf="pastEvents.length === 0"><i>It's empty here</i></h5>
<br/>
<app-pagination *ngIf="pastPagesNr !== undefined" [lastPage]="pastPagesNr"></app-pagination>