<h1>Future events</h1>
<br/>
<br/>
<div class="event-container">
  <div class="event-item" *ngFor="let event of events" (click)="showDetails(event)" [class.selectedEvent]="selectedEvent.id === event.id">
    <span>{{event.type}}</span><span>[{{event.id}}]</span>
    <br/>
    <span>{{event.scheduledDate}}</span>
  </div>
</div>
<br/>
<br/>
<div class = "event-details" *ngIf="selectedEvent!==null">
  <h1>Event details</h1>
  <h4>ID: <span>{{event.id}}</span></h4>
  <h4>Name: <span>{{event.name}}</span></h4>
  <h4>Type: <span>{{event.type}}</span></h4>
  <h4>Status: <span>{{event.status}}</span></h4>
  <h4>Facilitator: <span>{{event.facilitator}}</span></h4>
  <h4>Location: <span>{{event.location}}</span></h4>
  <h4>Is outdoors: <span>{{event.outdoors}}</span></h4>
  <h4>Scheduled date: <span>{{event.scheduledDate}}</span></h4>
  <h4>Participating players: <span>{{event.players}}</span><span>[{{event.players ? event.players.length : 0}}/{{event.maxPlayers}}]</span></h4>

  <br/>
  <button class="button participate" *ngIf="roles.includes('player')" (click)="joinEvent(selectedEvent.id);">Participate</button>
  <button class="button participate" *ngIf="roles.includes('admin')" (click)="deleteEvent(selectedEvent)">Delete</button>
</div>
